{% extends "page/index.html.twig" %}

{% block javascripts %}
	{{ parent() }}
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <script src="{{ asset("js/component/summerNote.js") }}"></script>
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
	<link href="{{ asset("styles/component/_summernote.scss") }}" rel="stylesheet">
{% endblock %}

{% block title %}
	Note - {{ subNote.title }}
{% endblock %}

{% block content %}
	<div id="summernote" data-html="{{ subNote.html }}"></div>
{% endblock %}
