{% block sidebar %}
	<div id="sidebar" class="d-flex flex-column bg-dark border border-top-0">
		{% block sidebar_inner %}
			{% block sidebar_top %}
				<div class="sidebar-top p-3 border-bottom border-1 align-items-center d-flex" style="height: 9%;">
					<div class="d-flex align-items-center p-1 bg-white rounded w-100 ">
						<img class="border-right border-1 bg-body-tertiary" src="/imgs/user.svg" alt=""/>
						<a href={{ path("auth.logout")}}>
							<h4 class="text-dark mb-0">{{ user.name }}<h4/></a>
						</div>
					</div>
				{% endblock %}

				{% block sidebar_content %}
					<div class="sidebar-content d-flex flex-column border-bottom border-1">
						<div class="sidebar-content-notebooks overflow-y-auto position-relative p-3">
							<h5 class="d-flex gap-2"><img src="/imgs/notebook.svg" loading="lazy"/>Notebooks</h5>
							<ul class="sidebar-links">
								{% for mainNote in Context.mainNotes(user.id) %}
									<li class="sidebar-link">
										<h6>{{ mainNote.title }}
											<a class="delete-note" href="{{ path("app.mainNote.delete", { id: mainNote.id }) }}"><img src="/imgs/bin.svg" alt=""/><a/>
										</h6>

										{% for note in mainNote.subNotes %}
											<h6>
												<a href="{{ path("app.note", { id: note.id }) }}">{{ note.title }}</a>
											</h6>
										{% endfor %}
										</li>
									{% endfor %}
								</ul>
								<a href="{{ path("app.notes.add") }}"><img role="button" class="align-self-end justify-self-end" src="/imgs/add.svg" loading="lazy"/></a>
							</div>
						</div>
					{% endblock %}

					{% block sidebar_bottom %}
						{% set route = app.request.attributes.get('_route') %}
						<div class="sidebar-bottom d-flex justify-content-center p-3">
							<a href={{ route == "app.calendar" ? path("app") : path("app.calendar") }} class="btn btn-primary"><img src="/imgs/calendar.svg"></a>
							<button id="showWatch" class="btn btn-primary"><img src="/imgs/stopwatch.svg"></button>
						</div>
					{% endblock %}
				{% endblock %}
			</div>
		{% endblock %}
